/* Estilos para el CRUD de usuarios */
.crud-container {
    display: flex;
    padding: 20px;
    background-color: #F9F6FA; /* Color secundario */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrar el contenedor */
    width: 80%;
    gap: 20px;
    
}
.buttons {   
    display: flex;
    gap: 12px;
    justify-content: flex-end;

}
.bookList {
    width: 100%;
}

.crud-container h3 {
    color: #592515; /* Color principal */
    text-align: center;
}

.crud-container ul {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar padding por defecto */
}

.crud-container li {
    display: flex; /* Usar flexbox para alinear nombre y botón */
    justify-content: space-between; /* Espacio entre nombre y botón */
    padding: 10px;
    margin: 5px 0;
    background-color: #FFFFFF; /* Fondo blanco para cada elemento */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.crud-container button {
    background-color: #592515; /* Color principal */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.crud-container button:hover {
    background-color: #305252; /* Cuarto color */
}
