/* Estilos para el botón de logout */
.logout-button {
    color: #F9F6FA; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 5px;
    background-color: transparent;
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-left: 10px; /* Alinea el botón de logout con el resto */
}

.logout-button:hover {
    background-color: #305252;
}
