/* Estilos para la barra de navegación en UserDashboard y AdminDashboard */
.navbar {
    background-color: #592515; /* Color principal */
    padding: 10px 20px; /* Espaciado interno */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre el logo y los elementos del menú */
    align-items: center; /* Centrar verticalmente */
    border-bottom: 2px solid #305252; /* Línea en la parte inferior para separar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%; /* Ocupar todo el ancho del contenedor */
    max-width: 1200px; /* Ancho máximo del Navbar */
    margin: 0 auto; /* Centrar el Navbar en la página */
}

.navbar ul {
    list-style: none; /* Quitar los puntos de la lista */
    display: flex; /* Disposición en fila */
    gap: 20px; /* Espacio entre enlaces */
    margin: 0; /* Quitar márgenes por defecto */
    padding: 0; /* Quitar padding por defecto */
    flex: 1; /* Permite que el menú ocupe el espacio disponible */
    justify-content: center; /* Asegura que los enlaces se centren */
}

.navbar ul li {
    display: inline; /* Mostrar elementos en línea */
}

.navbar ul li a {
    color: #F9F6FA; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
    padding: 8px 15px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.navbar ul li {
    margin: 0 10px; /* Espacio horizontal entre los elementos */
}

.logout-button {
    margin-left: 20px; /* Margen a la izquierda del botón de cerrar sesión */
}

.navbar ul li a:hover {
    background-color: #305252; /* Color al pasar el ratón */
}