.navbar {
    background-color: #592515; 
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid #305252; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.navbar ul {
    list-style: none;
    display: flex; 
    gap: 20px; 
    margin: 0; 
    padding: 0; 
    flex: 1; 
    justify-content: center; 
    align-items: center; 
}

.navbar ul li {
    margin: 0 10px; 
    display: flex; 
    align-items: center; 
}

.navbar ul li a, 
.logout-button { /* Aplica los mismos estilos tanto a los enlaces como al botón de logout */
    color: #F9F6FA; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none; 
    cursor: pointer;
    display: block; /* Asegura que los enlaces y el botón ocupen el mismo espacio */
}

.navbar ul li a:hover, 
.logout-button:hover {
    background-color: #305252; /* Color al pasar el ratón */
}
